extends layout

block content
    div(class="box" id="box")
        div(class="banner")
            div(class="btn nav fl")
            div(class="title fl") 探探高仿版
            div(class="msg fl")
        //div(class="content")
        //    div(class="picture")
        //        img(src="images/green.jpg")
        //    div(class="picture")
        //    div(class="picture")
        //    div(class="selection clear_fix")
        //        div(class="select_no")
        //            span
        //            span
        //        div(class="select_yes")
        //            div(class="heart")
        //                span
        //                span
        //                span





    script(src="lib/vue.js")
    script(src="javascripts/vueModule.js")