* {
  margin: 0;
  padding: 0; }

*, :after, :before {
  box-sizing: border-box; }

.clearfix:before, ul:before {
  content: "";
  display: table; }

.clearfix:after, ul:after {
  clear: both;
  content: "";
  display: table; }

header:after {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

article, aside, details, form, footer, header, main, menu, nav, section, summary {
  display: block; }

body {
  background-color: #f5f5f5; }

header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: relative; }
  header .container {
    padding: 0 20px; }
    header .container .logo {
      width: 159px;
      height: 30px;
      margin-top: 21px;
      text-indent: -9999px;
      position: relative; }
      header .container .logo a {
        height: 100%;
        display: block;
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0; }
        header .container .logo a img {
          width: 100%;
          height: 100%; }
    header .container h1 {
      font-size: 2em;
      margin: .67em 0; }
    header .container .mobile-nav {
      position: absolute;
      top: 20px;
      left: 15px;
      width: 20px;
      height: 20px;
      display: none;
      cursor: pointer; }
    header .container .offcanvas {
      display: none;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0;
      top: 0;
      position: fixed;
      left: 0;
      right: 0; }
      header .container .offcanvas .offcanvas-bar {
        z-index: 1001;
        width: 270px;
        max-width: 100%;
        background-color: #fff;
        box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        transition: .3s;
        transform: translateX(100%);
        bottom: 0;
        top: 0;
        position: fixed;
        left: -270px; }
        header .container .offcanvas .offcanvas-bar .offcanvas-content {
          background: #fff;
          color: #999; }
          header .container .offcanvas .offcanvas-bar .offcanvas-content .mobile-auth {
            width: 100%;
            height: 80px;
            background: #FD5D5D; }
            header .container .offcanvas .offcanvas-bar .offcanvas-content .mobile-auth a {
              width: 50%;
              text-align: center;
              color: #fff;
              font-size: 18px;
              line-height: 80px;
              border-right: 1px solid #E85454;
              text-decoration: none; }
          header .container .offcanvas .offcanvas-bar .offcanvas-content .mobile-nav-list {
            margin: 0;
            padding: 12px 0;
            list-style-type: none; }
            header .container .offcanvas .offcanvas-bar .offcanvas-content .mobile-nav-list li a {
              display: block;
              padding: 20px 0 20px 32px;
              font-size: 18px;
              line-height: 18px;
              color: #555;
              text-decoration: none; }
    header .container .nav-wrap {
      padding-left: 32px; }
      header .container .nav-wrap .link-nav {
        list-style: none;
        font-size: 16px;
        line-height: 72px;
        float: left;
        margin: 0;
        padding: 0 0 0 32px; }
        header .container .nav-wrap .link-nav li {
          float: left; }
        header .container .nav-wrap .link-nav a {
          width: 96px;
          font-size: 16px;
          line-height: 72px;
          float: left;
          margin: 0;
          text-decoration: none;
          text-align: center;
          color: #5d5d5d;
          opacity: .8; }
        header .container .nav-wrap .link-nav .active.index {
          width: 72px;
          color: #FD5D5D;
          font-weight: 700; }
      header .container .nav-wrap .search-wrap {
        margin: 16px 0 0 32px;
        width: 240px;
        position: relative; }
        header .container .nav-wrap .search-wrap form {
          margin-top: 0; }
          header .container .nav-wrap .search-wrap form .search-input {
            width: 100%;
            font-size: 14px;
            height: 40px;
            border-radius: 40px;
            padding: 0 36px 0 22px;
            border: none;
            background-color: #eee;
            color: #555;
            outline: none; }
          header .container .nav-wrap .search-wrap form .icon-search {
            color: #9b9b9b;
            position: absolute;
            top: 5px;
            right: 17px;
            font-size: 21px;
            width: 25px;
            height: 25px;
            background-image: url(../icon/search-btn.png); }
          header .container .nav-wrap .search-wrap form .search-btn {
            font: 0/0 a;
            color: rgba(216, 106, 106, 0);
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background: 0 0;
            border: 0;
            cursor: pointer;
            outline: none; }
      header .container .nav-wrap .action-nav {
        list-style: none;
        height: 40px;
        float: right;
        margin: 16px 0 0;
        padding: 0; }
        header .container .nav-wrap .action-nav li {
          float: left;
          min-width: 72px; }
          header .container .nav-wrap .action-nav li a {
            color: #555;
            font-size: 14px;
            line-height: 40px;
            display: block;
            padding: 0 22px;
            border-radius: 40px;
            text-decoration: none; }
          header .container .nav-wrap .action-nav li .btn-join {
            color: #fff;
            background-color: #FD5D5D; }
      header .container .nav-wrap .cdkey-entry {
        display: block;
        margin-top: 16px;
        text-decoration: none;
        width: 150px;
        height: 40px;
        border-radius: 40px;
        color: #FD5D5D;
        border: 1px solid #FD5D5D;
        line-height: 40px;
        text-align: center;
        float: right;
        font-size: 14px; }

.intro-bg {
  width: 100%;
  padding: 110px 16px 90px 16px;
  background-size: cover;
  text-align: center; }
  .intro-bg .intro h2 {
    margin: 0;
    font-size: 68px;
    color: #fff; }
  .intro-bg .intro .record-wrap {
    width: 634px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    padding: 8px;
    margin: 50px auto 60px;
    font-size: 28px; }
    .intro-bg .intro .record-wrap .record {
      border: 1px solid rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.2);
      color: #fff; }
      .intro-bg .intro .record-wrap .record p {
        margin: 24px 0; }
        .intro-bg .intro .record-wrap .record p strong {
          font-weight: 700; }
  .intro-bg .intro .btn {
    display: inline-block;
    width: 320px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    padding-left: 20px;
    color: #fff;
    background-color: #FD5D5D;
    border: none;
    border-radius: 56px;
    position: relative; }
    .intro-bg .intro .btn span {
      display: inline-block;
      width: 30px;
      height: 27px;
      position: absolute;
      top: 15px;
      left: 80px; }

/*# sourceMappingURL=style.css.map */
